<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form action="/new" method="post"><br/>
        Nome:<input type="text" name="escrita"/><br/>
        idade:<input type="number" name="idade"/><br/>
       <input type="submit" value="Salvar"/></form>
</form>
  </body>
</html>
