<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro</title>
</head>
<body>
  
    <h3> <strong> <%= title %> </strong></h3>
      <p> <label> <b>Login:</label></b></p>

    <form action="/user" method="post">
      Nome:<input type="text" name="nome"> <br/><br/>
      Idade:<input type="number" name ="idade"><br/><br/>
      senha:<input type="text" name ="senha"><br/><br/>
      <input type="submit" value="Salvar"><br/>
    </form>

    <br/><a href="https://www.google.com.br/">Link para google</a>
    

  

</body>
</html>